<h1>Todo List</h1>
<div class="input-form">
  <label for="task">Create new task:</label>
 <input type="text" id="task" [(ngModel)]="newTaskTitle" />
 <button (click)="createTask()">Create task</button>
</div>
<!--
  [myProperty] = one way data binding = el valor lo controlo desde la clase.
  
  [(myProperty)] = two way data binding = el valor lo controlo desde la clase o desde la vista.
-->
<div class="task-list-wrapper">
  <ul class="task-list">
    <li *ngFor="let task of taskList">{{ task.title }}</li>
  </ul>
</div>

<!-- <router-outlet></router-outlet> -->
